<section id="about">
    <img src="assets/me.png">
    <h1>about me</h1>
  <div>
    <p>Hi! I am a Software Engineer with 2 years of experience.
      I graduated from Florida Gulf Coast University in 2019, with a Bachelor's in Software Engineering.
      In my last semester of school, I did an internship at a company called Flightdocs which later turned into a full-time position post-graduation.
      At Flightdocs, I worked on maintenance tracking, inventory management and flight operations software.
      My work included web development using Angular & AngularJS, Android development using Kotlin,
      iOS development with Swift & Xamarin iOS and Web API development using C# in a .Net framework.
      I am also experienced in Mobile deployments to the Apple app store & Google play store as well
      as other DevOps tasks using Jenkins and AWS.
    </p>
  </div>
</section>
