<section id="experiences">
  <h1>experience</h1>
<div>
   <ul class="experiences-logo">
       <li>
         <img src="assets/swift.png" height=90>
       </li>
       <li>
         <img src="assets/csharp.png" height=90>
       </li>
       <li>
         <img src="assets/sql.png" width=100>
       </li>
       <li>
          <img src="assets/jenkins.png" width=100>
        </li>
       <li>
         <img src="assets/xamarin.png" height=50>
       </li>
       <li>
         <img src="assets/docker.png" height=50>
       </li>
       <li>
         <img src="assets/dotnet.png" height=100>
       </li>
       <li>
         <img src="assets/aws.png" height=90>
       </li>
       <li>
         <img src="assets/git.png" height=90>
       </li>
       <li>
         <img src="assets/azure.png" height=90>
       </li>
    </ul>
</div>
</section>
