<section id="contact">
  <h1>contact information</h1>
  <div>
    <div class="email">
      <h2>tonyfang.dev@outlook.com</h2>
    </div>
    <div class="copyButton">
      <button (click)="copyToClipboard('tonyfang.dev@outlook.com')"><img src="assets/copypasta.png"></button>
    </div>
  </div>
  <div>
    <div class ="social-media">
      <button (click)="onNavigate('https://github.com/rotarytony')"><img src="assets/github.png"></button>
      <button (click)="onNavigate('https://www.linkedin.com/in/tony-fang/')"><img src="assets/linkedin.png"></button>
      <button (click)="onNavigate('https://twitter.com/rotarytony/')"><img src="assets/twitter.png"></button>
    </div>
  </div>
</section>
