@import url('https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap');

$primary: #343d46;

nav {
  position: fixed;
  top: 0;
  z-index: 1;
  width:100%;
  height:60px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: #00171F;
  font-family: 'Helvetica Neue', 'sans-serif';
}

.logo{
  color: rgb(226,226,226);
  text-transform: lowercase;
  letter-spacing: 5px;
  font-size: 20px;
}

.nav-links{
  display: flex;
  justify-content: space-around;
  width: 40%;
}

.nav-links li{
  list-style: none;
}

.nav-links a{
  color: rgb(226,226,226);
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 14px;

  &:hover {
    color: #00A8E8;
  }

}

@media screen and (max-width: 540px) {

  .nav-links a {
    letter-spacing: 1px;
    font-weight: bold;
    font-size: 12px;
  }

  .nav-links{
    display: flex;
    justify-content: space-around;
    width: 60%;
  }
}

@media screen and (min-width: 540px) and (max-width: 1300px) {

  .nav-links a {
    letter-spacing: 1px;
    font-weight: bold;
    font-size: 12px;
  }

  .nav-links{
    display: flex;
    justify-content: space-around;
    width: 60%;
  }
}



