<header>
  <div class="container">
    <nav class="navbar">
      <div class="logo">
          <h4 href="#welcome">tonyfang</h4>
      </div>
      <ul class="nav-links">
        <li>
          <a href="#about">about</a>
        </li>
        <li>
          <a href="#projects">projects</a>
        </li>
        <li>
          <a href="#experiences">experience</a>
        </li>
        <li>
          <a href="#contact">contact</a>
        </li>
      </ul>
    </nav>
    <app-welcome></app-welcome>
    <app-about></app-about>
    <app-projects></app-projects>
    <app-experiences></app-experiences>
    <app-contact></app-contact>
  </div>
</header>
